<h1>Editing Book</h1>

<%= form_with model: @book, url: "/books", method: :patch do |f| %>
  <div class="new_book_box">
    <div class="new_book_title">Title</div>
    <%= f.text_field :title %>
  </div>

  <div class="new_book_box">
    <div class="new_book_title">Body</div>
    <%= f.text_area :body %>
  </div>

  <%= f.submit "Create Book" %>
<% end %>
g
