<!--strongタグにて太字になる-->
<h1 = heading>ようこそ <strong>Bookers</strong> へ！</h1>

<div class="text">

  <p><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>
  <p>印象を共有し交換することが出来ます</p>

  <!--一覧表示画面に移動-->
  <%= link_to "start", books_path %>
</div>

