 /**{*/
 /*  margin: 0;*/
 /*  padding: 0;*/
 /*  box-sizing: border-box;*/
 /*}*/

 body{
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 33px;
    font-size: 13px;
    line-height: 18px;
 }

 p, ul {
    margin: 33px;
 }

 a{
   color: black;
 }

 a:visited{
    color: #666;
 }

 a:hover{
    color: white;
    background-color: #000;
 }

 th{
    padding-bottom: 5px;
 }

 td{
    padding: 0 5px 7px 5px;
 }

 label{
   display: block;
 }

.new_book_box, .new_book_submit{
    margin-bottom: 10px;
 }

.flash_notice{
    color: green;
}

.error_message_box{
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0 7px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.error_message_box h2{
    font-size: 12px;
    text-align: left;
    color: white;
    background-color: #c00;
    padding: 5px 5px 5px 15px;
    margin: -7px -7px 0 -7px;
}

.error_emphasis{
  background-color: red;
  padding: 2px;
  display: table;
}